<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Qual o combustível?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item color="dark">
      <ion-label position="floating">Preco do álcool</ion-label>
      <ion-input formControlName="alcool" type="text" #alcool></ion-input>

      <ion-label for="gasolina" position="floating">Preco da gasolina</ion-label>
      <ion-input id="gasolina" type="text" #gasolina></ion-input>

      <ion-button (click)="calcularQualUsar(alcool, gasolina)" expand="block" fill="clear" shape="round">
        Calcular
      </ion-button>
    </ion-item>

    <ion-item [color]="color">
      <ion-label position="floating">{{resultado}}</ion-label>
      <ion-label position="floating"></ion-label>
    </ion-item>
  </div>
</ion-content>
